@{
    ViewData["Title"] = "Distribuidores";
}

<div class="container py-5" style="max-width: 800px;">
    <h1 class="mb-4" style="font-family: 'Playfair Display', serif; font-size: 2.5rem; text-transform: uppercase;">Nuestros Distribuidores</h1>
    
    <p class="lead mb-5">LuxuryCo está presente en las boutiques multimarca más exclusivas de Colombia y Latinoamérica. Encuentra nuestras piezas en los siguientes puntos físicos.</p>
    
    <div class="row">
        <div class="col-md-6 mb-4">
            <h4 class="font-weight-bold" style="color: var(--color-gold);">Concept Store 72 (Bogotá)</h4>
            <p>Carrera 7 #72-41<br />Tel: +57 300 123 4567<br />Lun-Sáb: 10am - 8pm</p>
        </div>
        <div class="col-md-6 mb-4">
            <h4 class="font-weight-bold" style="color: var(--color-gold);">El Poblado Urban (Medellín)</h4>
            <p>Calle 10 #43-12<br />Tel: +57 300 987 6543<br />Lun-Sáb: 10am - 9pm</p>
        </div>
        <div class="col-md-6 mb-4">
            <h4 class="font-weight-bold" style="color: var(--color-gold);">Pacífico Boutique (Cali)</h4>
            <p>Avenida 6N #22-10<br />Tel: +57 315 555 4444<br />Lun-Sáb: 9am - 7pm</p>
        </div>
        <div class="col-md-6 mb-4">
            <h4 class="font-weight-bold" style="color: var(--color-gold);">Luxe Panamá (Ciudad de Panamá)</h4>
            <p>Multiplaza Pacific Mall, Local 25<br />Tel: +507 888 1234<br />Lun-Dom: 10am - 8pm</p>
        </div>
    </div>
    
    <hr class="my-5" />
    
    <h3 class="font-weight-bold">¿Quieres ser un distribuidor oficial?</h3>
    <p>Buscamos aliados estratégicos que compartan nuestra visión de lujo, calidad y servicio excepcional.</p>
    <a href="/Home/B2B" class="btn btn-dark mt-3 px-4 py-2" style="letter-spacing: 2px;">CONOCE NUESTRO ACCESO B2B</a>
</div>
